@reference "tailwindcss";

@layer base {
  /* h1 {
        @apply text-center text-2xl font-bold text-black;
    } */

  .main {
    @apply px-5 sm:px-10 md:px-14 lg:px-20
               flex flex-col justify-center items-center
               w-full
               gap-8 sm:gap-10 md:gap-12 lg:gap-14;
  }
}

@layer components {
  .footerHeading {
    @apply text-[16px] lg:text-[20px] text-white tracking-wide font-semibold text-start;
  }

  .footertext {
    @apply text-[14px] lg:text-[16px] text-white tracking-wide text-start;
  }

  .footerIcon {
    @apply text-[#00AEEF] text-[16px] lg:text-[20px] shrink-0 transition-all duration-300 hover:scale-110 hover:text-blue-500;
  }

  /* For Text Animation start  */
  .animationtext{
    @apply absolute left-0 top-0 w-full h-full transition-transform duration-1000 ease-in-out group-hover:-translate-y-full;
  }
  .animationtexthover{
    @apply absolute left-0 top-full w-full h-full transition-transform duration-1000 ease-in-out group-hover:-translate-y-full;
  }
  /* For Text Animation end  */
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* reusable utility class */
.animate-slide-up-delay {
  animation: slideUp 0.8s ease-out forwards;
  animation-delay: 0.2s;
}
